// Color palette from:
// https://coolors.co/visualizer/ccd5ae-e9edc9-fefae0-faedcd-d4a373

/* SCSS HEX */
$tea-green: #ccd5ae;
$light-tea-green: #e9edc9;
$cream: #fefae0;
$coffee-cream: #faedcd;
$light-brown: #d4a373;

$pink-hover: rgba(192, 97, 163, 0.6);
