@use "variables";

.meditate {
  .timer {
    border: 1px solid variables.$tea-green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    hr {
      width: 100;
    }
  }
}
