.weather {
  &__container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: repeat(2, 25vh) 10vh;
    grid-gap: 0.8rem;
    grid-template-areas:
      "main sidecar_1"
      "main sidecar_2"
      "secondary secondary";
  }

  .primary, .sidecar_1, .sidecar_2, .secondary {
    display: grid; // allow sub items to stretch to fill
  }

  .element {
    border-radius: 10px;
    background-color: beige;
    padding: 1rem;
  }

  .primary {
    grid-area: main;
  }

  .sidecar_1 {
    grid-area: sidecar_1;
  }

  .sidecar_2 {
    grid-area: sidecar_2;
  }

  .secondary {
    grid-area: secondary;
  }
}
