---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import headshot from '../images/me_ski.svg'
import burgerLogo from '../images/burger_logo.svg';

import "../styles/home.scss"
---

<Layout title="Bradleyb__dev">
  <div id="triangle-gradient" />

  <div class="home">
    <div class="home__header">
      <div class="logo">
        <Image id="burger" src={burgerLogo} alt="burger logo" />
        <h3>bradley berger</h3>
      </div>

      <a class="button" href="/resume">resume</a>
    </div>

    <div class="home__main">
      <div class="title">
        <h2>Software Engineer,<br>etc.</h2>
      </div>

      <div class="headshot">
        <Image src={headshot} alt="bradley skiing" />
      </div>

      <div class="about">
        <p>
          Code whisperer by day and human-powered adrenaline junky -- also usually by day -- but sometimes by night!
          Here to experience all that I can and learn some things along the way.

          <br>
          It has been said that my enthusiasm is contagious, making me a valuable and engaging member of any team,
          always willing to explore new technologies and solve new problems.
        </p>
      </div>
    </div>
  </div>
</Layout>
