---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'

import burgerImg from '../images/burger_sketch.jpg'

// import "../styles/main.scss"
---

<Layout title="Sandbox">
  <div class="main">
    <div class="main__content">
      <div class="row main__hero">
        <Image src={burgerImg} alt="Burger painting" />
      </div>

      <div class="row colummn main__buttons">
        <a href="/weather" class="button three columns main__action-button">W</a>
        <a href="/meditate" class="button three columns main__action-button">M</a>
        <a class="button three columns main__action-button">V</a>
      </div>
    </div>

    <div class="main__footer row">
      <p class="two columns">bradley_b dev</p>
      <p class="two columns offset-by-eight">created {new Date("1/7/2024").toLocaleDateString('en-US')}</p>
  </div>
</Layout>
