---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import headshot from '../images/me_ski.svg'
import burgerLogo from '../images/burger_logo.svg';

import "../styles/home.scss"
---

<Layout title="Bradleyb__dev">
  <div id="triangle-gradient" />

  <div class="home">
    <div class="home__header">
      <div class="logo">
        <Image id="burger" src={burgerLogo} alt="burger logo" />
        <h3>bradley berger</h3>
      </div>

      <a class="button" href="/resume">resume</a>
    </div>

    <div class="home__main">
      <div class="title">
        <h2>Software Engineer,<br>etc.</h2>
      </div>

      <div class="headshot">
        <Image src={headshot} alt="bradley skiing" />
      </div>

      <div class="about">
        <p class="quote">
          May your trails be crooked, winding, lonesome, dangerous, leading to the most amazing view.
          May your mountains rise into and above the clouds. 
        </p>
        <p>&mdash; Edward Abbey</p>
      </div>
    </div>
  </div>
</Layout>
