---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import headshot from '../images/me_ski.svg'
import burgerLogo from '../images/burger_logo.svg';

import "../styles/home.scss"
---

<Layout title="Sandbox">
  <div id="triangle-gradient" />

  <div class="home">
    <div class="home__header">
      <div class="logo">
        <Image id="burger" src={burgerLogo} alt="burger logo" />
        <h3>bradley berger</h3>
      </div>

      <button>resume</button>
    </div>

    <div class="home__main">
      <div class="title">
        <h2>Software Engineer,<br>etc.</h2>
      </div>

      <div class="headshot">
        <Image src={headshot} alt="bradley skiing" />
      </div>

      <div class="about">
        <p>
          Code whisperer by day and human-powered adrenaline junky...also usually by day...but sometimes by night!
          The desire to travel uphill at unflagging speeds is equalled only by the draw of reckless descent. Safety third!
          Here to experience all that I can and learn some things along the way.
        </p>
      </div>
    </div>
  </div>
</Layout>
