---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import headshot from '../images/me_ski.svg'
import burgerLogo from '../images/burger_logo.svg';

import "../styles/home.scss"
---

<Layout title="Sandbox">
  <div id="triangle-gradient" />

  <div class="home">
    <div class="home__header">
      <div class="logo">
        <Image id="burger" src={burgerLogo} alt="burger logo" />
        <h3>bradley berger</h3>
      </div>

      <button>resume</button>
    </div>

    <div class="home__main">
      <div class="title">
        <h2>Software Engineer,<br>etc.</h2>
      </div>

      <div class="headshot">
        <Image src={headshot} alt="bradley skiing" />
      </div>

      <div class="about">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
      </div>
    </div>
  </div>
</Layout>
