---
import Layout from '../layouts/Layout.astro'
import { actions } from 'astro:actions'
import '../styles/weather.scss'

export const prerender = false

// how could the FE location selector be tied to BE htmx requests?
// I think this "action" can be triggered by component event handlers
const defaultLocation = { lat: 39.74386298827478, long: -105.52532873734599 }
const { data } = await Astro.callAction(actions.weather.getCurrent, defaultLocation)
console.log('data:', data)
---

<Layout title="Weather">
  <div class="weather weather__container">
    <div class="primary" data-swapy-slot="primary">
      <div class="element" data-swapy-item="primary-item">
        <!-- within each element here could be a separate astro component -->
        <!-- it would have to be veryy responsive though given the swapy use -->
        <h1>weather</h1>
        <p><strong>show all pertinent current weather data</strong></p>
        <p>Weather Data:<br><code>{data}</code></p>
      </div>
    </div>

    <div class="sidecar_1" data-swapy-slot="sidecar_1">
      <div class="element" data-swapy-item="sidecar_1-item">
        <h4>hourly data</h4>
      </div>
    </div>

    <div class="sidecar_2" data-swapy-slot="sidecar_2">
      <div class="element" data-swapy-item="sidecar_2-item">
        <h4>10 day forcast <b/> don't know if this is a thing</h4>
      </div>
    </div>

    <div class="secondary">
      <div class="element">
        <h4>Location selector element</h4>
        <p>Static (no swapy) location selector -- default to current location if possible</p>
        <p>this may need to be a React Island</p>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { createSwapy } from 'swapy'
  const container = document.querySelector('.weather__container')
  const swapy = createSwapy(container, {
    animation: 'dynamic',
  })
  swapy.enable(true)
</script>
