---
import Layout from '../layouts/Layout.astro'
import '../styles/weather.scss'

---

<Layout title="Weather">
  <div class="weather">
    <div class="weather__header">
      <h3>here be the search bar / current location info &mdash;</h3>
      <input type="text" />
    </div>

    <div class="weather__content">
      <div class="weather__main swapy-container element" data-swapy-slot="main">
        <div data-swapy-item="main-item">
          <h1>Current Weather for location</h1>
        </div>
      </div>

      <div class="weather__secondary swapy-container element" data-swapy-slot="secondary">
        <div data-swapy-item="secondary-item">
          <p>Hourly weather</p>
        </div>
      </div>

      <div class="weather__tertiary swapy-container element" data-swapy-slot="bottom-row">
        <div data-swapy-item="bottom-item">
          <p>10 day forecast</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { createSwapy } from 'swapy'
  const container = document.querySelector('.weather__content')

  const swapy = createSwapy(container, {
    animation: 'dynamic',
  })

  swapy.enable(true)
</script>
